= form_for @article, multipart: true do |f|
  -if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content
  .field
    = select_tag 'categories', options_from_collection_for_select( @categories, 'name', 'name')
  -#.field
    -#- @categories.each do |c|
      -#= f.label c.name
      -#= f.check_box :categories
  .field
    = label_tag "New category"
    = text_field_tag :new_category_name
  .field
    = f.label :image_path
    = f.file_field :image_path
  .actions
    = f.submit 'Save'
